/* Sayfa yapısını sıfırla ve tam ekran yüksekliği ver */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-image: url("../assets/login_screen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.5rem 1.75rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px; /* Daha dar bir form */
}
